@import './reset.less';
@import './markdown.less';

:root {
    --bg: #fff;
    --theme:#0366d6;
    --bg-secondary: #f9fafb;
    --textNormal: #2c3e50;
    --textTitle: #2c3e50;
    --hr: rgba(0, 0, 0, 0.2);
    --inlineCode-text: #1a1a1a;
    --post-link-color: #4e4bec;
    --text-color: #7B8095;
    --sec-text-color: rgb(122, 127, 148);
    --inlineCode-bg: rgba(122, 127, 148,.2);
    --link:var(--theme);
}

html,
body,
#root {
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased; //抗锯齿
    color:var(--textNormal);
}

.nav,.header,.main,.footer,.footer-nav{
    max-width: 630px;
    margin: 0 auto;
}
@media screen and (min-height:667px){
    .main{
        min-height: calc(100vh - 45vh);
    }
}
@media screen and (max-height:667px){
    .main{
        min-height: calc(100vh - 63vh);
    }
}

.footer{
    padding: 2.5rem;
    text-align: center;
    border-top: 1px solid #eaecef;
    margin-top: 2.5rem;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    a{
        color:var(--theme);
        text-decoration: none;
        cursor: pointer;
        padding: 0 10px;
        &:hover{
            text-decoration:underline;
        }
    }
}

@media screen and (min-width:750px) {
    .nav {
        padding: 5vh 0px 5vh 0px;
        .sentence {
            font-weight: 700;
            padding-right: 7px;
            text-align: left;
            font-size: 17px;
            line-height: 2;
        }
        .from {
            color: var(--text-color);
            text-align: right;
            line-height: 2;
        }
        .home-name{
            font-weight: 700;
            font-size: 17px;
            line-height: 2;
        }
        .home-subsentence{
            color: var(--text-color);
            line-height: 2;
        }
    }


    .header {
        font-size: 48px;
        padding-bottom: 10vh;
    }

    .main {
        .list {
            .list-item {
                padding: 10px;
                box-sizing: border-box;
                cursor: pointer;

                .item-update {
                    color: var(--sec-text-color);
                    font-size: 14px;
                }

                .item-title {
                    font-size: 25px;
                    color: var(--textNormal);
                    line-height: 1.75;
                    font-weight: bold;

                    &:hover {
                        color: var(--theme);
                    }
                }
            }
        }

        .back {
            font-weight: bold;
            color: var(--sec-text-color);
            font-size: 17px;
            cursor: pointer;

            &:hover {
                color: var(--theme);
            }
        }
    }
}

@media screen and (max-width:750px) {
    #root {
        padding: 0px 20px;
    }

    .nav {
        padding: 5vh 0px 5vh 0px;
        .sentence {
            font-weight: 700;
            font-size: 14px;
            padding-right: 7px;
            text-align: left;
            font-size: 17px;
            line-height: 2;
        }
        .from {
            color: var(--text-color);
            text-align: right;
            line-height: 2;
        }
        .home-name{
            font-weight: 700;
            font-size: 17px;
            line-height: 2;
        }
        .home-subsentence{
            color: var(--text-color);
            line-height: 2;
        }
    }

    .header {
        font-size: 27px;
        padding-bottom: 10vh;
    }

    .main {
        .list {
            .list-item {
                padding: 16px;
                box-sizing: border-box;
                cursor: pointer;
                .item-update {
                    color: var(--sec-text-color);
                    font-size: 10px;
                }

                .item-title {
                    font-size: 17px;
                    color: #000;
                    line-height: 1.7em;
                    font-weight: bold;

                    &:hover {
                        color: var(--theme);
                    }
                }
            }
        }

        .back {
            font-weight: bold;
            color: var(--sec-text-color);
            font-size: 14px;
        }
    }
}

.markdown-body {
    margin: 0 auto;
    max-width: 630px;
    letter-spacing: .3px;
    color:var(--textNormal);
}